#ordered_list {
    background-color: blue;
    list-style-type: number;
    line-height: 1.5;
    font-size: 18px;
}

.likes {
   background-color: red;
   color:beige;
}

#unordered_list {
    background-color: green;
    line-height: 1.5;
    font-size: 18px;
}

.dislikes {
    background-color: blanchedalmond;
    color: brown;
}